body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  padding-top: 51px;
}
#top {
  box-shadow: 0 0 5px 0 #dfdfdf;
  font-size: 14px;
}
#top .navbar-input-group {
  font-size: 0px;
  /*removes whitespace between button and input*/
}
#top .navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 400px;
}
#top .navbar-input-group .category {
  border-radius: 0;
  border-left: 0;
}
#top .navbar-input-group .lup {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
  background: #EBEBEB;
}
/* product list */
.product-thumb {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: auto;
  background: #fff;
}
.product-thumb .image {
  text-align: center;
}
.product-thumb .image a {
  display: block;
}
.product-thumb .image a:hover {
  opacity: 0.8;
}
.product-thumb .image img {
  margin-left: auto;
  margin-right: auto;
}
.product-grid .product-thumb .image {
  float: none;
}
@media (min-width: 767px) {
  .product-list .product-thumb .image {
    float: left;
    padding: 0 15px;
  }
}
.product-thumb h4 {
  font-weight: bold;
}
.product-thumb .caption {
  padding: 0 20px;
  min-height: 180px;
}
.product-list .product-thumb .caption {
  margin-left: 230px;
}
@media (max-width: 1200px) {
  .product-grid .product-thumb .caption {
    min-height: 210px;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .product-list .product-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0 10px;
  }
  .product-grid .product-thumb .caption {
    min-height: 0;
  }
}
.product-thumb .rating {
  padding-bottom: 10px;
}
.rating .fa-stack {
  font-size: 8px;
}
.rating .fa-star-o {
  color: #999;
  font-size: 15px;
}
.rating .fa-star {
  color: #FC0;
  font-size: 15px;
}
.rating .fa-star + .fa-star-o {
  color: #E69500;
}
h2.price {
  margin: 0;
}
.product-thumb .price {
  color: #444;
}
.product-thumb .price-new {
  font-weight: 600;
}
.product-thumb .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}
.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}
.product-thumb .button-group {
  border-top: 1px solid #ddd;
  background-color: #eee;
  overflow: auto;
}
.product-list .product-thumb .button-group {
  border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
  .product-list .product-thumb .button-group {
    border-left: none;
  }
}
.product-thumb .button-group button {
  width: 60%;
  border: none;
  display: inline-block;
  float: left;
  background-color: #eee;
  color: #888;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.product-thumb .button-group button + button {
  width: 20%;
  border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .product-thumb .button-group button,
  .product-thumb .button-group button + button {
    width: 33.33%;
  }
}
@media (max-width: 767px) {
  .product-thumb .button-group button,
  .product-thumb .button-group button + button {
    width: 33.33%;
  }
}
.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}
.thumbnails > li {
  margin-left: 20px;
}
.thumbnails {
  margin-left: -20px;
}
.thumbnails > img {
  width: 100%;
}
.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
}
.image-additional {
  max-width: 78px;
}
.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}
footer {
  background: #242424;
}
