@import "bootstrap/bootstrap";
@import "bootstrap/mixins";

@btn-font-weight: 400;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
//button background color
@moschi-blue: #06c;
@moschi-blue-hover: darken(@moschi-blue, 3%);

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: @gray-dark;
	line-height: 20px;

	// set padding-top if the header fixed top
	padding-top: 70px;
}
#top{
	@search-height: 45px;
	box-shadow: 0 0 5px 0 #dfdfdf;
	font-size: 14px;

	// Search
	.navbar-input-group {
		position: relative;
	  font-size: 0px; /*removes whitespace between button and input*/

		input {
		  border-top-right-radius: 0px;
		  border-bottom-right-radius: 0px;
		  width: 400px;
		}

		select.category{
			border-radius: 0;
			border-left: 0;
			width: 170px;
			overflow: hidden;
		}

		.lup {
		  border-top-left-radius: 0px;
		  border-bottom-left-radius: 0px;
		  border-left: 0px;
		  background: #EBEBEB;
		}

		.dropdown-menu{
			right: 8px;
			left: auto;
			max-height: 247px;
			overflow-y: scroll;
		}
	} // End Search

}

.category{
  .category-header{
	padding: 15px;
	background: #ddd;
	font-size: 20px;
  }
  .category-list{
	.category-list-item{
	  .sc-cat {
		visibility: hidden;
		position: absolute;
		left: 100%;
		top: 0;
		width: 100%;
		background: #FFFAFA;
		z-index: 2;
	  }
	  
	  &:hover .sc-cat{
		visibility: visible;
	  }
	}
  }
}

article#article{
  min-height: 250px;
}

.owl-carousel{
	margin: 0 0 25px;
}

/*! product list */
.product-thumb{
	border: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: auto;
  background: #fff;

  figure{
  	text-align: center;
  	a{
  		display: block;
  	}
  	img{
  		margin-left: auto;
  		margin-right: auto;
  	}
  }

  .caption{
  	padding: 0 20px;
  	min-height: 180px;

  	h1,
  	h2,
  	h3,
  	h4,
  	h5{
  		font-weight: bold;
  	}
  }

  .button-group{
  	border-top: 1px solid #ddd;
	  background-color: #eee;
	  overflow: auto;

	  button{
	  	width: 60%;
		  border: none;
		  display: inline-block;
		  float: left;
		  background-color: #eee;
		  color: #888;
		  line-height: 38px;
		  font-weight: bold;
		  text-align: center;
		  text-transform: uppercase;

		  &:hover{
		  	color: #444;
			  background-color: #ddd;
			  text-decoration: none;
			  cursor: pointer;
		  }

		  @media (max-width: @screen-lg) {
		  	width: 33.33px;
		  }

		  @media (max-width: @screen-sm) {
		  	width: 33.33px;
		  }
	  }
	  & button + button{
	  	width: 20%;
  		border-left: 1px solid #ddd;

  		@media (max-width: @screen-lg) {
		  	width: 33.33px;
		  }
		  @media (max-width: @screen-sm) {
		  	width: 33.33px;
		  }
	  }
  }
}

// Footer
// --------------------------------------------------
#footer {
  background: #d7d7d7;
  padding-top: 10px;
  hr {
	margin-top: 10px;
	.box-shadow(0 -1px 0 #bcbcbc);
  }
  .footer-widget {

	ul {
	  margin-bottom: 0;
	  padding-left: 0; // Override default ul/ol
	  list-style: none;
	  .clearfix();
	}
	#alert {
	  input {
		height: 35px;
	  }
	  .btn-alert {
		background: @moschi-blue;
		color: #fff;
		font-size: 14px;
		letter-spacing: 0.3px;
		.size(75%, 40px);
		margin: 10px 0;

		&:hover {
		  background: @moschi-blue-hover;
		}
	  }
	}
	.about {
	  .socmed {
		ul li {
		  float: left;
		  &:hover {
			.opacity(0.8);
		  }
		  img {
			.size(50px, 50px);
		  }
		}
	  }
	}
  }
  .copyright {
	padding: 1em 20px;
  }
}
